*{
    margin: 0;
    padding: 0;
}
/* shared common styles */
.merriweather-font{
    font-family: 'Merriweather', serif;
}
.inter-font{
    font-family: 'Inter', sans-serif;
}
.primary-title{
    font-size: 72px;
    font-weight: 900;
}
.secondary-title{
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.red-color{
    color: red;
}
.fixed-width{
    width: 1320px;
    margin: 120px auto;
}
.title-style{
    font-size: 24px;
    font-weight: 500;
}
.gray-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0 43px 0;
}
/* header section  */
.banner{
    margin-top: 40px;
    height: 600px;
    background-image: url(../resources/Banner\ Image.png);    
}
.color-overlay{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}
header h2{
    font-size: 32px;
    font-weight: 400;
}
header h1{
    margin-top: 16px;
    line-height: 95px;
}
/* 65% OFF section   */
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories h1{
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.categories h2{
    font-size: 48px;
    font-weight: 700;
    margin:16px 0 48px 0;
}
/* midnight section  */
.midnight-section{
    background-image: url(../resources/Vectorrr.png);
    border-radius: 16px;
}
.midnight-color-overlay{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    border-radius: 16px;
    padding:70px 130px 60px 125px;
    align-items: center;
}
.midnight-text h1{
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
 }
.midnight-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    color: rgba(255, 255, 255, 0.80);
    margin: 24px 0 48px 0;
}
.midnight-text button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}
/* place section  */
.place-section{
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding: 100px 0 110px 0;
    border-radius: 16px;
}
.place-section h1{
    margin-bottom: 20px;
}
.place-section button{
    background-color: red;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    margin-top: 26px;
}
/* NEW BEST OFFER section  */
.offer-section{
    display: flex;
}
.offer-section h3{
    margin-bottom: 16px;
    padding-top: 100px;
}
.offer-description{
    width: 393px;
}
.offer-section h2{
    font-size: 48px;
    font-weight: 700;
    padding-top: 100px;
}
.offer-img{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
    margin: 0 118px 0 70px;
}
/* Holidays Sale 50% section  */
.holidays-sale-section{
    text-align: center;
}
.holidays-sale-section h1{
    margin: 16px 0 28px 0;
}
.holidays-img{
    position: relative;
}
.holidays-image-2{
    margin-top: 433px;
}
.holidays-image-1, .holidays-image-3,.holidays-image-4{
    position: absolute;  
}
.holidays-image-1{
    top: 170px;
    left: 80px;
    z-index: 1;
}
.holidays-image-3{
right: 300px;
top: 70px;
z-index: 2;
}
.holidays-image-4{
    right: 0px;
    top:0px;
}
/* Our Awesome Portfolio */
.portfolio-section h3{
 margin-bottom: 16px;
}
.portfolio-section p{
 margin:0 0 48px 0;
}
.gifts-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.gift-card{
transition: .2s;
}
.gift-card:hover {
    transform: scale(1.5);
}
/* Subscribe Newsletter */
.subscribe-container{
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0 160px 0;
    position: relative;
}
.subscribe-container h1{
    margin-top: 40px;
}
.subscribe-container input{
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 25px 100px 25px 30px;
    border-radius: 50px 0 0 50px;
    position: absolute;
    right: 600px;
}
.subscribe-container button{
    color: #FFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    text-transform: capitalize;
    padding: 24px 55px;
    background-color: red;
    border-radius: 0 50px 50px 0;
    position: absolute;
    left: 720px;
}
/* footer section  */
footer{
    background: #070211;
    color: white;
    padding: 120px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin: 0 auto;
}
hr{
    width: 1320px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);  
}
.footer-icon{
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 24px;
}
#footer-des{
    margin-bottom: 50px;
}
#rights-des{
    margin-top: 50px;
}
.contact-info{
    display: flex;
    flex-direction: column; 
    padding-right: 130px;  
}
.contact{
    display: flex;
}
.contact-img{
    padding-right: 16px;
}